<!DOCTYPE html>
<html lang="en">
<style>
    #grad {
    background-image: linear-gradient(#0b6dff, #EE7AE9);
    background-repeat: no-repeat;
	background-size: cover;
	height: 1000px;
}
</style>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Movee's Blog{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
</head>
<body id="grad" marginheight="">
<main class="container">
    <header>
        <h1 class="text-center display-4">
            <a href="{{ url_for('index') }}" class="text-success"><strong><font color="#FF34B3">Welcome to</font></strong></a>
            <small class="text-muted sub-title"><font color="#FF83FA">Movee's Blog</font></small>
        </h1>
        <div>
            <small class="text-muted sub-title">
                <ul>
            {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('settings') }}"><font color="white">Settings</font></a></li>
                <li><a href="{{ url_for('logout') }}"><font color="white">Logout</font></a></li>
            {% else %}
                <li><a href="{{ url_for('login') }}"><font color="white">Login</font></a></li>
            {% endif %}
                </ul>
            </small>
        </div>
    </header>
    {% for message in get_flashed_messages() %}
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
    {% endfor %}
    {% block content %}{% endblock %}
    <footer class="text-center">
        {% block footer %}
            <small> &copy; 2020.11.7 <a href="http://cqupt.edu.cn" title="这是我的母校">重庆邮电大学</a> /
                <a href="https://github.com/Movee-Ax/Movee-Ax" title="这个项目已经上传Github">GitHub</a> /
            </small>
            <p><a id="bottom" href="#" title="Go Top">&uarr;</a></p>
        {% endblock %}
    </footer>
</main>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.slim.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
{{ moment.include_moment(local_js=url_for('static', filename='js/moment-with-locales.min.js')) }}
</body>
</html>

